<main class="user-page">
  <!-- Left: Photo -->
  <div class="profile-photo">
    <img src="" alt="User photo - TBD">
  </div>
  <!-- Right: User info -->
  <div class="user-details-style">
    <h2 class="section-title">{{ user.firstName + " " + user.lastName }}</h2>
    <p>Email: {{ user.email }}</p>
    <p>Joined: {{user.joined}}</p>
    <p>Branch: {{user.branch}}</p>
  </div>
  <div  class=user-details-style>
    <h2 class="section-title">Preferences</h2>
    <p>Distance Units: Miles</p>
    <p>Weight: lbs</p>
    <p>Height: inches</p>
  </div>
</main>
