.login-page {
  display: flex;
  align-items: center; /* aligns top edges */
  gap: 20px; /* spacing between photo and info */
  padding: 20px;
  flex-direction: column;
}

.login-button {
  border-radius: 12px;
  padding: 8px 18px;
  font-family: Stencil;
}

.input-style {
  border-radius: 8px;
}

.layout-container {
  display: flex;

}

.container-length {
  flex-grow: 1;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fills the container, potentially cropping */
  object-position: center; /* Centers the image within the container */
}
